/*@import url(http://fonts.googleapis.com/css?family=Oxygen);  /// 'Oxygen', Verdana, sans-serif; */
@import url(http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext);

body, html {
  height: 100%;
  font-size: 14px;
}
body {
  color: #000000;
  background-color: #8F8E88;
  padding: 20px 30px 30px 30px;
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}

h1 {
  margin: 30px 0 0 0;
  font-size: 36px;
  border-bottom: 1px solid #000000;
}

h2 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 26px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:link, a:visited, a:hover {
  color: #444444;
}
a img {
  border: none;
}

.clear {
  clear: both;
}

.photo {
  float: left;
}

.photosby {
  font-size: 11px;
  padding-bottom: 5px;
  width: 200px;
  border-bottom: 1px dotted #000000;
}

.thumbnail {
  position: relative;
  float: left;
  padding: 0px;
  margin: 0 10px 10px 0;
  text-align: center;
  background-color: #807f79;
  border: 1px solid #505050;
}
.thumbnail > a {
  padding: 0;
  display: block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  /*top: 0;
  left: 0;*/
}
.thumbnail a img.photo_thumb {
  margin: 2px;
  border: 2px solid #5d5d5d;
}
.thumbnail a img.photo_thumb.selected {
  margin: 2px;
  border: 2px solid #FF5959;
}

.options {
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: 2px;
  right: 2px;
  z-index: 20;
}
.options a {
  height: 28px;
  width: 28px;
  display: block;
}
.options .photo_select img {
  background-image: url(images/unchecked.png);
  background-repeat: no-repeat;
}
.options .photo_select img.selected {
  background-image: url(images/checked.png);
  background-repeat: no-repeat;
}

.photo_zoomed_select img {
  background-image: url(images/unchecked.png);
  background-repeat: no-repeat;
}
.photo_zoomed_select img.selected {
  background-image: url(images/checked.png);
  background-repeat: no-repeat;
}

#infobox {
  width: 100%;
  height: 40px;
  position:fixed;
  top: 0;
  right: 0;
  text-align: right;
  margin: 0 0 20px 0;
  padding: 5px 20px 5px 20px;
  color: #EEEEEE;
  background:url(images/menu-back.png);
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
  z-index: 100;
}
#infobox span {
  font-weight: normal;
}
#infobox a {
  color: #CCCCCC;
  text-decoration: underline;
}
#infobox .linkSelected {
  font-weight: bold;
  color: #FFFFFF !important;
}
#infoselected {
  margin-bottom: 4px;
  float: right;
}
#showfilter {
  float: right;
  padding-right: 10px;
}
#showfilter a {
  color: #BBBBBB !important;
  text-decoration: dotted;
}

#langselection {
  font-size: 12px;
  float: right;
}

#form {
  padding: 30px 0;
}

#form_comments {
  width: 340px;
  height: 100px;
  padding: 5px;
  margin: 0 0 10px 0;
  font-weight: bold;
  font-size: 14px;
  color: #434343;
  border: 1px solid #000000;
  background-color: #9A9993;
}

#form_name, #form_email, #form_phone {
  width: 340px;
  padding: 5px;
  margin: 0 0 10px 0;
  font-weight: bold;
  font-size: 14px;
  color: #434343;
  border: 1px solid #000000;
}

#form_submit {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #000000;
  width: 350px;
  background-color: #777671;
  font-weight: bold;
}

input {
  background-color: #9A9993;
}

.footer {
  margin: 0 0 10px 0;
  padding: 10px 0 0 0;
  font-size: 12px;
  text-align: left;
  clear: both;
}

.footer p {
  margin: 0;
  padding: 0;
  opacity: 0.5;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

.logo {
  float: right;
  border: 0 #505050 solid;
  margin-top: 50px;
}


#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(128, 128, 128, 0.75);
}
#loader img {
   position:absolute;
   top:50%;
   left:50%;
   margin-top:-64px;
   margin-left:-64px;
}
.lb-check {
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 50;
}
.lb-check a {
  display: block;
  width: 28px;
  height: 28px;
}